@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
    max-height: 100%;
}


body{
    background-color: black;
    display: grid;
    grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer" ;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 120px auto 100px;
}

header{
    grid-area: header;
}

main{
    grid-area: main;
}

footer {
    grid-area: footer;
}

/* header */
header {
    background-color: #c69649;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px white;
}
header label{
    display: none;
}
header .inputMenu{
    display: none;
}
.navBar{
    display: flex;
    justify-content: flex-end;
    padding: 35px;
    text-align: end;
}

ul{
    display: flex;
    list-style: none;
}

ul li{
    margin-left: 50px;
    padding: 10px;
}

ul li a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
    text-shadow: 1.5px 1px 3px black;
    color: #282A3A;
}

.logo {
    height: 100px;
    padding: 7px;
}

/* main index*/

.mainIndex{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 70px
}

.tipography {
    margin-top: 75px;
    height: 20rem; 
}

.mainIndPic{
    height: 25rem;
    margin: 10px;
    border: solid 1px #282A3A;
    border-radius: 3px;
    box-shadow: 0px 0px 5px #c69649;
}


/* main Galery */
h1{
    color: white;
    display: flex;
    padding: 25px;
    text-shadow: 2px 3px 5px #c69649;
}

.mainGalery{
    display: flex;
    flex-direction: column;
    color: white;
}

.container{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;

}

.container img{
    margin: 10px;
    border: solid 1px #282A3A;
    border-radius: 3px;
    box-shadow: 0px 0px 5px #c69649;
}

.mainGalery h2 {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    border: solid 1px #282A3A;
    box-shadow: 1px 1px 10px #c69649;
    border-radius: 10px;
}
/* main experience */

.mainExp{
    color: white;
}

.mainExp p{
    margin: 100px;
    font-size: 400;
    max-width: 50%;
}

.block1 {
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

.block1 img{
    width: 40rem;
    border: solid 1px #282A3A;
    border-radius: 3px;
    box-shadow: 0px 0px 5px #c69649;
}

.block2 {
    display: flex;
    flex-direction: row-reverse;
    padding: 50px;
}

.block2 img{
    width: 40rem;
    border: solid 1px #282A3A;
    border-radius: 3px;
    box-shadow: 0px 0px 5px #c69649;
}



/* main about me */
.mainAbout{
    color: white;
}

.mainContent{
    display: flex;
    justify-content: center;
}

.mainContent p {
    width: 50%;
    margin-top: 7rem;
    margin-left: 20px;
}
.mainContent img {
    width: 40rem;
    margin: -50px 25px 25px 25px;
    border: solid 1px #282A3A;
    border-radius: 3px;
    box-shadow: 0px 0px 5px #c69649;
}

/* footer */
footer{
    display: flex;
    flex-direction: column;
}



.socialMedia {
    background-color: #C69749;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.socialMedia a {
    text-decoration: none;
}
.socialMedia a i{
    height: 5rem;
    margin: 5px;
    font-size: 80px;
    color: black;
    
}

.copyRight{
    color: white;
    text-align: center;
    font-size: 10px;
    padding: 5px;
}

/* contact form */

.formContainer {
    color: white;
    display: flex;
    justify-content: space-evenly;
}

form div label {
    display: flex;
    justify-content: center;
    padding: 10px;
}

form div input {
width: 14.5rem;
background-color: black;
margin-left: 150px;
}

.contactButton{
    display: flex;
    justify-content: center;
    padding: 20px;
}

form div button{
    background-color: #c69649;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 800;
    box-shadow: 0px 0px 7px white;
}

button:hover{
    transform: ease 5s;
    background-color: #dd9a2ea3;
}

form div textarea{
    width: 500px;
    background-color: #c69649;
    border-radius: 5px;
    border: solid 1px white;
    box-shadow: 1px 1px 5px white;
}

@media screen and (max-width: 576px) {
    /* header */
    .navBar {
        background: #805f2c82;
        z-index: 1;
        border: solid 1px white;
        border-radius: 5px;
        position: absolute;
        top: 120px;
        padding: 35px 30px;
        transform: translateY(-500px);
        transition: 1s;
        right: 0;
    }
    .labelNav{
        display: flex;
        align-items: center;
    }
    .fa-bars{
        font-size: 45px;
        text-shadow: 0px 0px 5px white;
        margin-right: 25px;
    }
    .inputMenu{
        display: none;
    }
    .inputMenu:checked + .navBar {
    transform: translateX(0);
    }
    .navBar ul{
        flex-direction: column;
        text-align: start;
    }
    .navBar ul li a{
        color: white;
    }
/* mainIndex */
    .mainIndex{
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .tipography{
        margin: 0;
    }
    .mainIndex .tipography img{
        height: 9.5rem;
        padding-top: 100px;
    }
    .mainIndPic{
        height: 20rem;
    }
    /* about me */
    .mainContent{
        flex-wrap: wrap;
        padding: 25px;
    }
    .mainContent p{
        margin: 1rem;
        margin-bottom: 5rem;
        width: 100%;

    }

    .mainContent img{
        width: 20rem;
    }
    /* experience */
    .block1{
        flex-direction: column;
        padding: 0;
        align-items: center;
    }
    .block2{
        flex-direction: column;
        padding: 0;
        margin-bottom: 25px;
        align-items: center;     
    }
    .mainExp{
        justify-content: space-between;
    }
    .mainExp p{
        margin: 25px
    }
    .mainExp img{
        margin-left: 25px;
        width: 20rem;
        overflow: auto;
    }
    /* Galery */
    .container img{
        width: 100%;
    }

    /* Contact Me */
    .inputCenter textarea{
        width: 100%;
    }
    .formInput{
        margin: 0;
        color: white;
    }
    .formContainer{
        margin-bottom: 35px;
    }
}