* {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", serif;
  max-height: 100%;
}

body {
  background-color: black;
}

h1 {
  color: white;
  display: flex;
  padding: 25px;
  text-shadow: 2px 3px 5px #c69649;
}

.mainIndex {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.mainIndex .row {
  display: flex;
  justify-content: space-around;
}
.mainIndex .row .tipography {
  margin-top: 75px;
  height: 15rem;
}
.mainIndex .row .mainIndPic {
  display: flex;
  justify-content: end;
  height: 25rem;
}
.mainIndex .row .mainIndPic .borderImg {
  border: solid 1px #282A3A;
  border-radius: 3px;
  box-shadow: 0px 0px 5px #c69649;
}

.mainAbout {
  margin-top: 40px;
  margin-bottom: 40px;
}
.mainAbout .pCont {
  margin-top: 50px;
}
.mainAbout .pCont p {
  color: white;
  margin-top: 20px;
  font-size: 17px;
  text-align: justify;
}
.mainAbout img {
  width: 40rem;
  border: solid 1px #282A3A;
  border-radius: 3px;
  box-shadow: 0px 0px 5px #c69649;
}

.mainExp {
  margin-top: 40px;
  margin-bottom: 40px;
  color: white;
}
.mainExp .block1, .mainExp .block2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mainExp .block1 p, .mainExp .block2 p {
  text-align: justify;
}
.mainExp .block1 img, .mainExp .block2 img {
  border: solid 1px #282A3A;
  border-radius: 3px;
  box-shadow: 0px 0px 5px #c69649;
}
.mainExp .block2 {
  margin-top: 50px;
}

.mainGalery {
  margin-top: 40px;
  margin-bottom: 40px;
}
.mainGalery h2 {
  padding: 5px;
  color: white;
  text-align: center;
  border-radius: 10px;
}
.mainGalery .containerGalery {
  display: flex;
  justify-content: space-evenly;
  margin-top: 25px;
  margin-bottom: 25px;
  height: 25rem;
}
.mainGalery .containerGalery img {
  border: solid 1px #282A3A;
  border-radius: 3px;
  box-shadow: 0px 0px 5px #c69649;
}
.mainGalery .containerGalery img:hover {
  transition: transform ease 1s;
  transform: scale(1.7);
}
.mainGalery .cont1 {
  margin-left: -7px;
}

.mainContact {
  margin-top: 40px;
  margin-bottom: 40px;
}
.mainContact .formContact {
  font-size: 800;
  color: white;
  text-align: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.mainContact .formContact .contactButton {
  padding: 7px 25px;
  color: white;
  border-radius: 5px;
  background-color: #C69749;
}
.mainContact .formContact .contactButton:hover {
  transition: background-color 0.3s ease;
  background-color: #735F32;
}
.mainContact .formContact label {
  width: 100%;
}
.mainContact .formContact input, .mainContact .formContact textarea {
  background-color: black;
  color: white;
  padding: 10px;
  width: 50%;
}
.mainContact .formContact input::placeholder, .mainContact .formContact textarea::placeholder {
  color: #735F32;
}
.navbar {
  background-color: #C69749;
  border-bottom: solid 1px white;
}
.navbar .container-fluid .logo {
  height: 100px;
  padding: 7px;
}
.navbar .container-fluid .collapse {
  justify-content: end;
}
.navbar .container-fluid .collapse .navbar-nav .nav-item {
  margin-right: 5rem;
}
.navbar .container-fluid .collapse .navbar-nav .nav-item .nav-link {
  font-size: 1.5rem;
  font-weight: 700;
  text-shadow: 1.5px 1px 3px black;
  color: #282A3A;
}

footer {
  background-color: #C69749;
  border-top: solid 1px white;
}
footer .socialMedia {
  display: flex;
  justify-content: space-around;
}
footer .socialMedia a {
  text-decoration: none;
}
footer .socialMedia a i {
  height: 5rem;
  margin: 5px;
  font-size: 80px;
  color: black;
}
footer .copyRight {
  background-color: black;
}
footer .copyRight div {
  height: 5px;
}
footer .copyRight div p {
  text-align: center;
  color: white;
  padding: 5px;
  font-size: 10px;
}

@media screen and (max-width: 576px) {
  .mainIndex {
    margin-top: 10px;
  }
  .mainIndex .row .tipography img {
    height: 9rem;
    margin-left: 15px;
  }
  .mainIndex .row .mainIndPic {
    height: 20rem;
    justify-content: center;
  }
  .mainAbout .pCont {
    margin-top: 0;
  }
  .mainAbout .pCont p {
    font-size: 20px;
    padding: 10px;
  }
  .mainAbout .row .imgCont {
    margin-top: 50px;
    display: flex;
    justify-content: center;
  }
  .mainAbout .row .imgCont img {
    width: 20rem;
  }
  .mainExp .block1, .mainExp .block2 {
    flex-direction: column;
  }
  .mainExp .block1 p, .mainExp .block2 p {
    font-size: 20px;
    padding: 10px;
  }
  .mainExp .block1 img, .mainExp .block2 img {
    width: 20rem;
  }
  .mainExp .block2 {
    flex-direction: column-reverse;
  }
  .mainGalery .containerGalery {
    flex-direction: column-reverse;
    margin: 0;
  }
  .mainGalery .containerGalery img:hover {
    transition: none;
    transform: none;
  }
}

/*# sourceMappingURL=style.css.map */
