.mainGalery{
    @include marginMain;
    h2{
        padding: 5px;
        color: $text-color;
        text-align: center;
        border-radius: 10px;
    }
    .containerGalery{
        display: flex;
        justify-content: space-evenly;
        margin-top: 25px;
        margin-bottom: 25px;
        height: 25rem;
        img{
            @include borderImg;
            &:hover{
                transition: transform ease 1s;
                transform: scale(1.7);
            }
        }
        
    }
    .cont1{
        margin-left: -7px;
    }
}