@media screen and (max-width: 576px){
    /* index */
    .mainIndex{
        margin-top: 10px;
        .row{
            .tipography{
                img{
                    height: 9rem;
                    margin-left: 15px   ;
                }
            }
            .mainIndPic{
                height: 20rem;
                justify-content: center;
            }
        }
        
    }

    /* About */
    .mainAbout{
        .pCont{
            margin-top: 0;
            p{
                font-size: 20px;
                padding: 10px;
            }
        }
        .row{
            .imgCont{
                margin-top: 50px;
                @include centerImg;
                img{
                    width: 20rem;
                }
            }
        }
    }
    /* Experience */
    .mainExp{
        .block1{
            flex-direction: column;
            p{
                font-size: 20px;
                padding: 10px;
            }
            img{
                width: 20rem;
            }
        }
        .block2{
            flex-direction: column-reverse;
        }
    }
    /* Galery */
    .mainGalery{
        .containerGalery{
            height: 100%;
            flex-direction: column;
            margin: 0;
            img{
                height: 25rem;
                margin-top: 15px;
                &:hover{
                    transition: none;   
                    transform: none;
                }
            }
        }
        h2{
            margin-top: 100px;
            margin-bottom: 25px;
        }
        .btn{
            bottom: 125px;
        }
    }
    /* Contact */
    .mainContact{
        .formContact{
            margin-top: 50px;
            input{
                width: 100%;
                margin-bottom: 25px;
            }
        }
    }
}

